@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'DM Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Sans', serif;
}

p, span, a, button, input, textarea, label, div {
  font-family: 'DM Sans', sans-serif;
}

body {
  background: black;
  font-family: 'DM Sans', sans-serif;
}

/* Hide scrollbars while maintaining scrollability */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}